body {
    background: -webkit-linear-gradient(top, #ebe9f9 0%, #d8d0ef 50%, #cec7ec 51%, #c1bfea 100%);
}

.password-field {
    width: 270px;
    height: 40px;
    margin-bottom: 30px;
    font-size: 14px;
}

.message-wrapper {
    margin-top: 100px;
    text-align: center;
}

table {
    border: 5px solid black;
    font-size: 30px;
    border-collapse: collapse;
    width: 100%;
}

table td {
    border: 5px solid black;
}

table th {
    border: 5px solid black;
}

tr {
    border: 5px solid black;
    border-collapse: collapse;
}

thead {
    border: 5px solid black;
    border-collapse: collapse;
}

tbody {
    border: 5px solid black;
    border-collapse: collapse;
}

.form-popup {
    z-index: 5;
    border-radius: 20px;
    display: none;
    position: absolute;
    top: 25%;
    left: 42%;
    border: 3px solid #f1f1f1;
}

.form-container {
    border-radius: 20px;
    max-width: 300px;
    padding: 10px;
    background-color: white;
    z-index: 1;
}

.edit {
    width: 100%;
    padding: 15px;
    height: 200px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    border-radius: 20px;
}